<footer class="d-flex flex-wrap bg-dark text-white justify-content-between align-items-center"> 
  <div class="col-md-4 d-flex align-items-center"> 
    <span class="mb-3 mb-md-0 text-body-secondary">
      © 2025 Adapassa
    </span>
  </div> 

  <ul class="nav col-md-4 justify-content-end d-flex"> 
    <li class="ms-3">
      <a class="text-body-secondary" href="#" aria-label="Instagram">
        <fa-icon [icon]="faGithub" />
      </a>
    </li> 
    <li class="ms-3">
      <a class="text-body-secondary" href="#" aria-label="Facebook">
        <fa-icon [icon]="faCoffee" />
      </a>
    </li> 
  </ul> 
</footer>