<footer class="d-flex flex-wrap bg-dark text-white justify-content-between align-items-center"> 
  
  <!-- copy section -->
  <div class="col-md-4 d-flex align-items-center" id="copy-section"> 
    <span class="mb-3 mb-md-0 text-body-secondary">
      © 2026 Adapassa
    </span>
  </div> 

  <!-- icons section -->
  <ul class="nav col-md-4 justify-content-end d-flex" id="icon-section"> 
    <li class="ms-3">
      <a class="text-body-secondary" href="#" aria-label="Instagram">
        <fa-icon [icon]="faGithub" />
      </a>
    </li> 
    <li class="ms-3">
      <a class="text-body-secondary" href="#" aria-label="LinkedIn">
        <fa-icon [icon]="faLinkedin" />
      </a>
    </li> 
    <li class="ms-3">
      <a class="text-body-secondary" href="#" aria-label="Instagram">
        <fa-icon [icon]="faInstagram" />
      </a>
    </li>
  </ul> 
</footer>