.navbar {
    /* padding: 10px; */
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#header {
    position: relative;
    width: 100%;
    top: 0;
}

.navbar { justify-content: space-between; align-items: center; }

.navbar .nav-link,
.navbar .navbar-brand
{
  color: var(--secondary-color) !important;
}

/* .navbar-collapse {
    margin: 0.5em;
    padding: 0.5em;
} */

.navbar-toggler {
    border-color: var(--secondary-color) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28111, 255, 233, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}