#home {
    width: 97%;
    margin: 3% !important;
}

.row {
    width: 100%;
}

.skills-section {
    text-align: center;
    margin-top: 2em;
}

.projects-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 2em;
}

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 1.5em;
    gap: 0.7em;
}

.skills-section {
    font-size: 2em;
}

/* style for inline custom SVG to match FontAwesome icons */
.fa-custom {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    margin-left: 0.4em;
    display: inline-block;
}
.fa-custom path { fill: currentColor !important; }