/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
    --primary-color: rgb(15 23 42 / 1);
}

body {
    background-color: var(--primary-color);
}

/* overriding default style that breaks
    the dropdown */

.collapse {
  visibility: visible;
}